@import 'mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

// mixins ///////////////////////////////

.action-btn {
    @include actionBtn;
}
.section-desc {
    @include sectionDesc;
}

// ///////////////////////////////

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    padding-top: 60px;
}

// scrollbar ///////////////////////////////////////////////

::-webkit-scrollbar {
    width: 9px;
}


// ::-webkit-scrollbar-thumb {
//     background-color: $light-accent;
//     border-radius: 4px;
//     border: 2px solid $dark-color;
// }
// ::-webkit-scrollbar-track {
//     width: 9px;
//     background-color: $dark-color;
// }


::-webkit-scrollbar-thumb {
    background-color: $dark-color;
    // border-radius: 4px;
    border: 1px solid $light-accent;
}
::-webkit-scrollbar-track {
    width: 9px;
    background-color: $light-accent;
}

// header /////////////////////////////////////////////////////

.header {
    position: fixed;
    width: 100%;
    z-index: 10000000;
}

.header__inner {
    max-width: 100%;
    position: relative;

    background-color: $light-accent;
    border-bottom: 1px solid $dark-color;
    .wrapper {
        max-width: 1440px;
        padding: 0;
    }
}

.header__nav {
    display: flex;
    background-color: $light-accent;
    // border-bottom: 1px solid $dark-color;
    
    .header__list {
        display: flex;
        list-style: none;
        align-items: center;
        width: 100%;
        li {
            background-color: $light-accent;
            a {
                font-family: Inter;
                font-weight: 700;
                font-size: 17px;
                line-height: 25px;
                text-decoration: none;
                color: #222222;
                letter-spacing: 0.27px;

                display: inline-block;
                width: 100%;
            }
            &:nth-child(2){
                padding-left: 45px;
                display: inline-block;
                margin-right: auto;
            }
            &:nth-child(3){
                padding: 17px 55px;
                border-left: 1px solid $dark-color;
                border-right: 1px solid $dark-color;
            }
            &:nth-child(4){
                padding: 17px 24px;
                background-color: $accent-color;
                border-right: 1px solid $dark-color;
            }
        }
        .header__logo {
            padding: 10px 35px 10px 50px;
            border-right: 1px solid $dark-color;
        }
    }
}

#nav-check {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;

    z-index: 400000;

    opacity: 0;

    &:checked ~ .navbar {
        span:nth-child(1){
            transform: rotate(45deg);
            margin-top: 5px;
        }
        span:nth-child(2){
            transform: rotate(-45deg);
            margin-top: -9px;
        }
    }
}



.navbar {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 25px;
    right: 20px;

    z-index: 400000;

    pointer-events: none;

    span {
        display: inline-block;
        width: 20px;
        height: 2px;
        transition: .3s;
        background-color: $dark-color;
        &:first-child {
            margin-bottom: 7px;
        }
    }
}


@media screen and (min-width: 768px) {
    #nav-check,
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 767px){
    .header__nav{
        .header__list{
            flex-direction: column;
            li {
                display: inline-block;
                width: 100%;
                border: none !important;
                text-align: center;
                transition: .3s;
                &:nth-child(2){
                    padding: 17px 24px;
                }
                
                &:not(:first-child){
                    border-top: 1px solid $dark-color !important;
                    position: absolute;
                    opacity: 0;
                    top: 0;

                    z-index: 300000;

                    pointer-events: none;
                }
                &:last-child{
                    border-bottom: 1px solid $dark-color !important;
                }
            }
            .header__logo{
                position: relative;

                z-index: 400000;

            }
        }
    }
    .header__bg {
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0;
        position: fixed;

        z-index: 200000;

        transition: .3s;
        pointer-events: none;
    }
    #nav-check:checked ~ .header__bg {
        opacity: .7;
    }
}

// intro ////////////////////////////////////////////////////



.intro {
    padding: 45px 0 96px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        max-width: 546px;
        color: $dark-color;
        .intro__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 110px;
            line-height: 110px;
        }
        .intro__desc {
            max-width: 353px;
            margin: 24px 0 57px 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
        &__content {
            max-width: 700px;
            margin-bottom: 30px;
            .intro__title {
                font-size: 82px;
                line-height: 82px;
            }
            .intro__desc {
                max-width: 450px;
            }
        }
        &__img {
            width: 100%;
            text-align: right;
            img {
                max-width: 70%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .intro {
        &__content {
            .intro__title {
                font-size: 64px;
                line-height: 64px;
            }
        }
        &__img {
            width: 100%;
            img {
                max-width: 100%;
            }
        }
    }
}

// sections /////////////////////////////////////////////////

.section {
    color: $dark-color;
    
    .wrapper {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 50%;
        padding: 0 25px;
    }
    &__content {
        width: 50%;
        padding: 59px 0 59px 50px;
        border-left: 1px solid $dark-color;
        .section__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
            line-height: 78px;
            max-width: 288px;
            span {
                font-weight: bold;
                font-size: 46px;
                line-height: 78px;
                padding: 13px;
                border-radius: 8px;
                border: 1px solid $light-accent;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .section {
        .wrapper {
            flex-direction: column-reverse;
            padding: 0;
        }
        &__content {
            border-bottom: 1px solid $dark-color;
            border-left: none;
            padding: 59px 0;
            width: 100%;

            & > * {
                margin-left: 15px;
            }
            .section__title {
                max-width: 600px;
            }
        }
        &__img {
            width: 100%;
            padding: 50px 25px;
        }
    }
}

@media screen and (max-width: 425px) {
    .section {
        &__img {
            padding: 50px 15px;
        }
    }
}

// short //////////////////////////////

.short {
    background-color: $dark-color;
    color: $light-accent;
    &__content {
        border-left: 1px solid $light-accent;
        .short__title {
            color: $light-accent;
        }
        .short__desc {
            color: $light-accent;
            max-width: 325px;
            margin: 27px 0 112px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .short {
        .wrapper {
            flex-direction: column-reverse;
        }
        &__content {
            border-bottom: 1px solid $light-accent;
            border-left: none;
            .short__title {
                font-size: 43px;
                span {
                    font-size: 45px;
                }
            }
            .short__desc {
                margin: 27px 0 43px 15px;
            }
        }
    }
}


// for you /////////////////////////////////

.for-you {
    border-bottom: 1px solid $dark-color;
    .wrapper {
        flex-direction: row-reverse;
    }
    &__content {
        border-right: 1px solid $dark-color ;
        border-left: none;
        padding-right: 30px;
        .for-you__title {
            font-size: 50px;
            line-height: 52px;
            max-width: 300px;
        }
        .for-you__desc {
            max-width: 434px;
            margin-top: 39px;
            margin-bottom: 112px;
        }
    }
}

@media screen and (max-width: 768px) {
    .for-you {
        .wrapper {
            flex-direction: column-reverse;
        }
        &__content {
            .for-you__desc {
                margin-top: 20px;
                margin-bottom: 61px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .for-you {
        &__img {
            padding-left: 85px;
        }
    }
}

// actively /////////////////////////////////////////////////////////

.actively {
    &__content {
        @media screen and (min-width: 768px) {
            width: calc(50% + 1px);
        }
        .actively__title {
            font-size: 47px;
            line-height: 52px;
            max-width: 355px;
        }
        .actively__desc {
            margin-top: 39px;
            margin-bottom: 112px;
            @media screen and (max-width: 768px) {
                margin-top: 20px;
                margin-bottom: 50px;
                max-width: 500px;
            }
        }
    }
}

// library ////////////////////////////////////////////////////////

.library {
    padding: 60px 0 100px 0;
    background-color: $dark-color;
    color: $light-accent;
    .wrapper {
        display: flex;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }
    &__content {
        max-width: 450px;
        .library__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 49px;
            line-height: 52px;
        }
        .library__desc {
            color: $light-accent;
            margin: 40px 0;
        }
    }
    &__gallery {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: flex-end;
        gap: 25px;
        @media screen and (max-width: 1024px) {
            justify-content: center;
            margin-top: 50px;
        }
        @media screen and (max-width: 768px) {
            gap: 15px;
        }
        img {
            width: 30%;
            @media screen and (max-width: 1024px) {
                width: 26%;
            }
            @media screen and (max-width: 768px) {
                width: 30%;
            }
            @media screen and (max-width: 425px) {
                width: 45%;
            }
        }
    }
}

// institutions ////////////////////////////////////////////////

.institutions {
    .wrapper {
        display: flex;
        align-items: center;
    }
    &__content {
        width: 50%;
        padding-right: 15px;
        border-right: 1px solid $dark-color;
        @media screen and (max-width: 1024px) {
            border-right: none;
        }
        .institutions__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
            line-height: 71px;
            max-width: 458px;
            margin-top: 78px;
            @media screen and (max-width: 1024px) {
                font-size: 50px;
                line-height: 50px;
            }
            @media screen and (max-width: 425px) {
                font-size: 40px;
                line-height: 55px;
            }
            span {
                font-weight: bold;
                font-size: 49px;
                line-height: 71px;
                padding: 7px;
                border-radius: 8px;
                border: 1px solid $dark-color;
                @media screen and (max-width: 425px) {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
        .institutions__desc {
            margin: 30px 0 80px 0;
            max-width: 342px;
        }
    }
    &__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1024px) {
            border-left: 1px solid $dark-color;
        }
        
        & > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
            max-width: 500px;
            padding: 30px 15px;
        }
    }
}

@media screen and (max-width: 768px) {
    .institutions {
        .wrapper {
            flex-direction: column;
            padding: 0;
            & > * {
                width: 100%;
                padding: 0 15px;
            }
        }
        &__img {
            border-left: none;
            border-top: 1px solid $dark-color;
        }
    }
}

// slider ///////////////////////////////////

.slider {
    padding: 124px 0 180px 0;
    background-color: #E2DBFB;
    &__body {
        max-width: 690px;
        background-color: $light-accent;
        border-radius: 7.6px;
        border: 1px solid $dark-color;
        margin: 0 auto;
        position: relative;
        .item {
            display: flex;
            padding: 46px 52px 46px 46px;
        }
    }
    &__left {
        width: 80px;
        img {
            width: 100%;;
        }
    }
    &__right {
        max-width: 478px;
        padding-left: 32px;
        padding-top: 27px;
        .slider__text {
            font-size: 17px;
            line-height: 25px;
        }
        .slider__author {
            display: flex;
            align-items: center;
            margin-top: 22px;
            .slider__desc {
                margin-left: 20px;
                span {
                    font-size: 17px;
                    line-height: 25px;
                }
                p {
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
    }
}

.owl-carousel .owl-nav {
    position: absolute;
    right: 16px;
    display: inline-block;
    width: 100px;
    
    span {
        color: #E2DBFB;
    }
    &::before {
        content: url(../img/icons/arrow-left.svg);
        position: absolute;
        pointer-events: none;
        top: 2px;
    }

    &::after {
        content: url(../img/icons/arrow-right.svg);
        position: absolute;
        pointer-events: none;
        top: 2px;
        right: 0;
    }
    button {
        width: 50px;
    }
    [class*=owl-] {
        margin: 0;
        &:hover {
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 690px) {
    .slider {
        &__left {
            position: absolute;
            top: 26px;
            left: 30px;
            width: 50px;
        }
    }
}

@media screen and (max-width: 425px) {
    .slider {
        &__right {
            padding-top: 33px;
            padding-left: 0;
        }
    }
}

// footer ////////////////////////////////////////////////////

.footer {
    background-color: $dark-color;
    color: $light-accent;
    padding: 68px 0 75px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: flex;
    }
    &__links {
        .footer__list {
            list-style: none;
            display: flex;
            margin-left: 232px;
            li {
                margin-right: 30px;
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        text-align: right;
        a {
            font-size: 18px;
            line-height: 25px;
            color: $light-accent;
            text-decoration: none;
        }
        p {
            font-size: 17px;
            line-height: 25px;
        }
    }
}

@media screen and (max-width: 820px) {
    .footer {
        .wrapper {
            flex-direction: column;
        }
        &__icon {
            justify-content: space-between;
            .footer__list {
                margin-left: 0;
            }
        }
        &__right {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 425px) {
    .footer {
        &__icon {
            flex-direction: column;
            & > img {
                width: 150px;
            }
            .footer__list {
                margin-top: 50px;
            }
        }
    }
}